.choose {
  margin-bottom: 100px;
  background-image: linear-gradient(to bottom, #f6f6f6, white);
  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &-heading {
    margin: 0 auto;
    max-width: 555px;
    width: 100%;
    text-align: center;
    padding: 80px 0 60px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 50px;
  }
  &-item {
    width: 100%;
    border: 2px solid #dddddd;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 50px 50px 50px;
    background-color: white;
  }
  &-details {
    margin-bottom: 50px;
  }
  &-info {
    display: flex;
    gap: 0 20px;
    margin-bottom: 10px;
  }
  &-img {
    margin-bottom: 30px;
  }
  &-price {
    font-size: 25px;
    margin: auto;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: calc(30 / 25);

    &__span {
      font-weight: 400;
      color: #4f5665;
    }
  }

  &-item.is-active,
  &-item:hover {
    border-color: $primary-color;
  }
}

@media screen and (max-width: 1023px) {
  .choose-heading {
    max-width: unset;
  }
  .choose-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 63%;
    grid-auto-flow: column;
    grid-gap: 0 30px;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
    margin-bottom: 50px;
  }
  .choose-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .choose-list > * {
    scroll-snap-align: start;
  }
  .choose-item {
    padding: 50px 0;
  }
  .network {
    margin-top: unset !important;
  }
}
@media screen and (max-width: 767px) {
  .choose {
    margin-bottom: 50px;
  }
  .choose-list > * {
    overflow-x: hidden;
  }
}
