.counter {
  margin-bottom: 95px;
  &-container {
    padding: 37px 0;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 36.5px;
  }

  &-info {
    line-height: 30px;
  }

  &-title {
    font-size: 25px;
    font-weight: 700;
  }

  &-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .hero-heading {
    font-size: 35px;
  }
  .hero {
    padding-bottom: 50px;
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .counter {
    &-item:nth-child(2) {
      height: 125.57px;
      border-left: 2px solid #eeeff2;
      border-right: 2px solid #eeeff2;
    }
  }
}
@media (max-width: 767px) {
  .counter-container {
    grid-template-columns: 1fr;
    gap: 30px 0;
  }
  .counter-item {
    flex-direction: column;
    text-align: center;
    gap: 20px 0;
  }
}
