.provide {
  padding-bottom: 130px;
  background-image: linear-gradient(to top, white, transparent);
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0 170px;
  }

  &-content {
    width: 100%;
    max-width: 428px;
  }

  &-heading {
    color: #0b132a;
  }

  &-desc {
    font-size: 16px;
    color: #4f5665;
    font-weight: 400;
    margin-bottom: 23px;
  }

  &-list {
    list-style: none;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 0 10.08px;
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 1023px) {
  .provide {
    padding-bottom: 50px;
  }
  .provide-container {
    gap: 0 30px;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .provide-container {
    flex-direction: column;
    gap: 30px 0;
  }
  .provide {
    padding-bottom: 0;
  }
  .provide-heading {
    text-align: center;
  }
  .provide-list {
    width: fit-content;
    margin: 0 auto;
  }
}
